body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #8aa6d6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.main-cont {
    width: 1100px;
    background: #f5f5f5;
    padding: 40px;
    border-radius: 15px;
}

.small-title {
    text-align: center;
    letter-spacing: 4px;
    color: gray;
    font-size: 14px;
}

.large-title {
    text-align: center;
    margin-bottom: 40px;
}

.blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}

.card {
    position: relative;
    border-radius: 15px;
    color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.large-card {
    grid-column: span 2;
    height: 280px;
}

.small-card {
    height: 230px;
}

.card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
    border-radius: 15px;
}

.card h2,
.card button {
    position: relative;
    z-index: 1;
}

.card button {
    width: 100px;
    padding: 8px;
    background: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.card button:hover{
    background-color: rgba(128, 128, 128, 0.788);
}

.marketing {
    background-image: url('assets/images/plane.jpg');
}

.coffee {
    background-image: url('assets/images/coffee.jpg');
}

.fruits {
    background-image: url('assets/images/fruits.jpg');
}

.laptop {
    background-image: url('assets/images/laptop.jpeg');
}

.nature {
    background-image: url('assets/images/nature.jpg');
}

.interior {
    background-image: url('assets/images/interior.jpg');
}