body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background: rgb(207, 207, 207);
}

.main-cont{
width:90%;
margin:auto;
padding:30px;
}

h1{
color: black;
margin-bottom:30px;
}

.palette{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

.card{
height:120px;
color:white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
border-radius:6px;
font-weight:bold;
border: 1px solid black; 
}
.card:hover{
    transition: all 0.2s ease-out;
    box-shadow: 4px 4px 8px black;
    border: 1px solid black; 
}

.red{background:#f87171;}
.orange{background:#fb923c;}
.amber{background:#fbbf24;}
.yellow{background:#facc15;}

.lime{background:#a3e635;}
.green{background:#4ade80;}
.emerald{background:#34d399;}
.cyan{background:#22d3ee;}

.lightblue{background:#38bdf8;}
.blue{background:#60a5fa;}
.indigo{background:#818cf8;}
.purple{background:#c084fc;}

.fuchsia{background:#e879f9;}
.pink{background:#f472b6;}
.rose{background:#fb7185;}