body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    height:100vh;
    justify-content: center;
    align-items: center;
    background:url("assets/images/Office.jpg") center/cover;
    position:relative;
}

.icon{
    position:absolute;
    bottom:-35px;
    left:50%;
    transform:translateX(-50%);
    background:white;
    width:70px;
    height:70px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:30px;
    color:orange;
}

.content{
    background:#14002b;
    padding:80px 20px 40px;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:left;
}

.content h1{
    color:white;
    max-width:420px;
    font-size:28px;
    line-height:1.4;
}
.card{
    background:white;
    margin-top:30px;
    border-radius:10px;
    padding:20px;
    max-width:420px;
}

.item{
    display:flex;
    gap:20px;
    margin-bottom:20px;
}

.item i{
    font-size:30px;
    color:#6a4fa3;
}

.item h3{
    margin:0;
}

.item p{
    font-size:14px;
    color:#666;
    margin-top:5px;
}
@media (max-width:480px){

    .content{
        padding:60px 15px 30px;
    }

    .content h1{
        font-size:20px;
    }

    .icon{
        width:60px;
        height:60px;
        font-size:24px;
    }

}